p{
	color:black;
}

h1{
	color:purple;font-style:italic;
}

body{
	background-image:url('Coin.jpg')
}

img{
	height:150px;width:145px;border:thin;border-style:solid;
}

.slot{
	border:thin;border-style:solid;
}